/* Global Start */

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy_Fonts/Gilroy-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_Fonts/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik_Fonts/Rubik-Medium.ttf);
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 1440px; */
    background: #0F1145;
    font-family: "Gilroy";
    font-weight: 400;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.btn {
    padding: 8px 26px;
    font-family: "Rubik";
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

/* Global End */

/* Header Start */

.header {
    width: 100%;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}

.navbar {
    padding-top: 80px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.menu {
    padding: 0 430px 0 45px;
}

.menu__links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu__link {
    font-size: 12px;
    letter-spacing: 2px;
    color: #B5B5B5;
}

.signin__btn {
    margin-right: 20px;
    background: transparent;
    box-shadow: none;
    border: 1px solid #F2994A;
    border-radius: 4px;
    color: #F2994A;
}

.main__reason {
    padding-top: 105px;
    display: flex;
}

.main__reason .left {
    width: 50%;
}

.reason__title {
    margin-bottom: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    color: #99EFD0;
}

.reason__subtitle {
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #8476AA;
}

.reason__btn {
    padding: 40px 0 60px;
}

.learn__btn {   
    padding: 13px 32px;
}

.demo__btn {
    margin-left: 20px;
    padding: 13px 58px;
    background: transparent;
    box-shadow: none;
    border: 1px solid #F2994A;
    border-radius: 4px;
    color: #F2994A;
}

.vedio__frame {
    width: 140px;
    height: 80px;
    background: #361C5D;
    border-radius: 4px;
}

.vedio__frame i {
    padding: 20px 50px;
}

.main__reason .right {
    width: 50%;
}


/* Header End */